.row
  .span8

%h1 Listing sale_orders

.table
  %tr
    %th Number
    %th Source
    %th Total
    %th Posted

-@sale_orders.each do |sale_order|
  %tr
    %td= link_to sale_order.id, sale_order 
    %td
      - if sale_order.from_pos
        "POS"
      - elsif sale_order.from_web
        "WEB"
    %td= sale_order.total 
    %td= sale_order.posted? ? "#{sale_order.posted_when.to_formatted_s(:full_datetime)}" : "No" 

.span4
  = link_to 'New Sale order', new_sale_order_path
